{% include 'dist/head-dark.html' %}

<h2>Incoming Visitor Details</h2>
{% for visitor in visitors %}
<table border="1" cellspacing="0" cellpadding="8">
    <thead>
        <tr>
            <th>Detail</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>IP Address (REMOTE_ADDR)</td>
            <td>{{ visitor.ipaddress }}</td>
        </tr>
        <tr>
            <td>User Agent (HTTP_USER_AGENT)</td>
            <td>{{ visitor.useragent }}</td>
        </tr>
        <tr>
            <td>Referer (HTTP_REFERER)</td>
            <td>{{ visitor.HTTP_REFERER|default:"(Not available)" }}</td>
        </tr>
        <tr>
            <td>Accepted Language (HTTP_ACCEPT_LANGUAGE)</td>
            <td>{{ visitor.acceptedlanguage }}</td>
        </tr>
        <tr>
            <td>Accepted Encoding (HTTP_ACCEPT_ENCODING)</td>
            <td>{{ visitor.acceptedencoding }}</td>
        </tr>
    </tbody>
</table>
{% endfor %}
<br><hr><br>


{% include 'dist/foot.html' %}
