<!--Bottom part of site -->
<!-- Doesnt move-->

<script>
    let i = 0;
    function THeHerO(){
        if (i==0){
            document.querySelectorAll('.content').forEach(k =>{
                k.style.backgroundColor = 'firebrick';
            })
        }
    }
</script>
 
First Idea was to make a scroll up website for desktop viewport
Followed by setting sections Which will be:-
<ol>
    <li>
        Bio :- TO give a breif view about myself
    </li>
    <li>
        social :- TO give about my social handles even tho I don't have anythong productive/anything at this point <br>
        However I've got to understand THis thing can be varyly useful as well as 
    </li>
    <li>
        Projects
    </li>
    <li>
        Jokes
    </li>
</ol>
<button onclick="THeHerO()">Boom Bomm Bokdanka</button>