<section>
    <h2>Selected Projects</h2>
    <div class="projects">

        <a class="card" href="{% url 'codebunny_landing' %}">
          <div class="card-img" style="background-image:url('https://images.unsplash.com/photo-1518770660439-4636190af475')"></div>
          <div class="card-body">
            <div class="card-title">CodeBunny</div>
            <div class="card-desc">Neuro-symbolic static analysis using GNNs, CFGs and LLMs.</div>
          </div>
        </a>

        <a class="card" href="{% url 'schoolmate_landing' %}">
          <div class="card-img" style="background-image:url('https://raw.githubusercontent.com/leonado10000/school_portal/refs/heads/master/static/Schoolmate1.png')"></div>
          <div class="card-body">
            <div class="card-title">School Management System</div>
            <div class="card-desc">Multi-tenant Django SaaS with RBAC and large-scale query optimization.</div>
          </div>
        </a>

        <a class="card" href="{% url 'blog' 1 %}">
          <div class="card-img" style="background-image:url('https://i.stack.imgur.com/Ph3Ou.jpg')"></div>
          <div class="card-body">
            <div class="card-title">Sockets Chatroom</div>
            <div class="card-desc">Low-latency realtime chat using raw socket programming.</div>
          </div>
        </a>

        <a class="card" href="https://github.com/leonado10000/Research">
          <div class="card-img" style="background-image:url('https://blog.paperspace.com/content/images/size/w750/2019/05/full_graph.png')"></div>
          <div class="card-body">
            <div class="card-title">Autograd from Scratch</div>
            <div class="card-desc">Reverse-mode autodiff engine and optimizers implemented from first principles.</div>
          </div>
        </a>
    
        <a class="card" href="https://github.com/leonado10000/Emotion-Detector">
          <div class="card-img" style="background-image:url('https://img.freepik.com/premium-photo/heartshaped-electronic-device-with-complex-circuitry-fusion-human-emotions-machine-learning-concept-generative-ai-illustration_124717-2739.jpg')"></div>
          <div class="card-body">
            <div class="card-title">Emotion Detector</div>
            <div class="card-desc">ML pipeline for facial emotion classification using CNNs.</div>
          </div>
        </a>

    </div>
</section>